.cart {
  padding: 2rem;
}

.cart__title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.cart__empty {
  font-style: italic;
  color: rgb(255, 0, 0);
}

.cart__list {
  list-style: none;
  padding: 0;
  margin-bottom: 1.5rem;
}

.cart__item {
  margin-bottom: 1rem;
}

.cart__button {
  padding: 0.4rem 0.8rem;
  margin-left: 1rem;
  background-color: #cc0000;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.cart__button:hover {
  background-color: #990000;
}

.cart__clear-button {
  background-color: #555;
  margin-top: 1rem;
}

.cart__clear-button:hover {
  background-color: #333;
}

.cart__total {
  font-weight: bold;
  margin-top: 1rem;
}

.cart__pay-button {
  background-color: #28a745;
  margin-left: 1rem;
}

.cart__pay-button:hover {
  background-color: #1e7e34;
}
.cart__item-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Hoja de estilo para carrito de compras */
