.footer {
  background-color: #111;
  padding: 1rem;
  text-align: center;
  color: #fff;
  margin-top: 2rem;
}

.footer__text {
  font-size: 0.9rem;
}

.footer__link {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

/* Hoja de estilo para el pie de página */
