.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #111;
  color: #fff;
}

.header__logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.header__nav {
  display: flex;
  gap: 1rem;
}

.header__link {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  position: relative;
}

.header__link:hover {
  text-decoration: underline;
  color: #66b2ff; /* un azul claro para resaltar */
}

.header__branding {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header__logo-img {
  height: 65px;
  width: auto;
}

.header__logo-text {
  font-size: 1.3rem;
  font-weight: bold;
}

.header__badge {
  background-color: red;
  color: white;
  padding: 2px 6px;
  margin-left: 6px;
  border-radius: 50%;
  font-size: 0.75rem;
  font-weight: bold;
  line-height: 1;
}

.header__icon {
  margin-right: 6px;
  vertical-align: middle;
}
